@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

body {
  font-family: 'Titillium Web', sans-serif;
  border: 1rem solid #ff4b00;
}

#root,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: #93005a;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

footer>a {
  font-size: 0.85em;
  color: #ff4b00;
}

nav>a {
  margin-right: 0.5rem;
}

a.active {
  color: #ff4b00;
}

canvas {
  border: 1px solid rgb(205, 205, 205);
  box-shadow: inset rgba(0, 0, 0, 0.15) 0px 0px 15px 0px;
  margin: 1rem;
}

.routing {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-right: 0.5rem;
}

ol {
  padding: 0.5rem;
  padding-left: 1.8rem;
  margin-bottom: 1rem;
  border-radius: 12px;
}
